# Virtual environments
myenv/
venv/
.env/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# OS files
Thumbs.db
.DS_Store

# TensorFlow / logs
logs/
data/

# Ignore photos in verification_images (keep folder structure)
application_data/verification_images/*.jpg